<!DOCTYPE html>
<html>
<head>
	<title>Hybrid | Login</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css')}}">
</head>
<body>
	<div class="title">
		<h1>Hybrid</h1>
		<h2>Connect with gamers around the world!</h2>
	</div>
	<div class="form_division">
		<center>
			<form method="POST">
				{{form.email()}}
				{{form.password()}}
				{{form.submit(class="primary")}}
				<hr> <!--  -->
				<input type="submit" value="Register" class="secondary">
			</form>
		</center>
	</div>
</body>
</html>